*{
    box-sizing: border-box;
}

.button {
    font: inherit;
    border: 1px outset #4f005f;
    background: #4f005f;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    margin: auto 2.5px;
    font-size: 15px;
}

.button:hover,
.button:active {
    background: #741188;
    border-color: #741188;
}

.button:focus {
    outline: none;
}

@media screen and (max-width:500px) {
    .button{
        padding: 8px 15px;
        font-size: 10px;
    }
}