.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    margin: 2.5px;
    border-radius: 5px;
    font-size: 15px;
}

.button:hover,
.button:active {
    background: #741188;
    border-color: #741188;
}

.button:focus {
    outline: none;
}