*{
    /* color: black; */
    letter-spacing: 2px;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

*{
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 20vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}

.header {
    background: #4f005f;
    color: #fff;
    padding: 1rem;
}

.content {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}

img{
    text-align: center;
    width: 200px;
}