.selector {
    text-align: center;
}

.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button:hover,
.button:active {
    background: #741188;
    border-color: #741188;
}

.selected {
    background: #741188;
    border-color: #741188;
}

.button:focus {
    outline: none;
}