*{
  box-sizing: border-box;
}

.timer{
  border: 2px ridge #4f005f;
  background: #4f005f;
  color: #fffd;
  padding: 8px 20px;
}

@media screen and (max-width:500px) {
  .timer{
      padding: 6px 15px;
      font-size: 12px;
  }
}