* {
  margin: 0;
  padding: 0;
}

.board {
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  justify-content: center;
  border-collapse: collapse;
  border-left: 3px solid#000;
  border-top: 3px solid #000;
}

.input-cell {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  caret-color: transparent;
  user-select: none;
  cursor: default;
  border: 1px solid #000;
}

.input-cell:focus {
  outline: none;
}

.selected {
  background: #9f0dbc51;
}

.wrong-value {
  color: red;
}

tr:nth-child(3n) input {
  border-bottom: 3px solid #000;
}

td:nth-child(3n) input {
  border-right: 3px solid #000;
}

.highlighted {
  background: #550c6465;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}