* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  width: 500px;
  height: 500px;
  border: 2px solid #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #000;
}
