*{
    box-sizing: border-box;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.controls {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    position: relative;
    width: fit-content;
}

.controls Button{
    border-radius: 5px;
}

.mistakes{
    display: inline;
    margin-bottom: 5px;
}

@media screen and (max-width:500px) {
    .gameContainer{
        justify-content: center;
        height: calc(100vh - 50px);
    }
}